body {
  --primary: #1594f1;
  --primary-variant: #020246;
  --primary-light: #bfddf3;
  --title: #404040;
  --subtitle: #6e6e6e;
  --success: #3ba780;
  --warning: #dea727;
  --danger: #f44336;
  --background: #f6f6f6;
  --background-variant: #f6edea;
  --secondary: #f7be68;
  --secondary-light: #fffde7;
  --accent: #4dc3dd;
  --dark-accent: #181926;
  --disabled: #f2f4f7;
}
